body{
    background-color: #41394d;
    
    padding: 5%;
    padding-top: 1%;
    color: whitesmoke;
}
header{
    background-color: #6f6282;
    padding: 2%;
    color: #ffc94a;
}
a{
    color: #ffc94a;
}

.Nav_Bar{
    height: 5vh;
    display: flex;
}

.NavButton{
    text-decoration: none;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.NavButton:hover{
    background-color: whitesmoke;
}
.NavButton a{
    text-decoration:none;
    font-size: calc(10px + 1vw);
}


