body{
    background-color: #41394d;
    
    padding: 5%;
    padding-top: 1%;
    color: whitesmoke;
}
header{
    background-color: #6f6282;
    padding: 2%;
    color: #ffc94a;
}
a{
    color: #ffc94a;
}

.Nav_Bar{
    height: 5vh;
    display: flex;
}

.NavButton{
    text-decoration: none;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.NavButton:hover{
    background-color: whitesmoke;
    
}
.NavButton a{
    text-decoration:none;
    font-size: calc(10px + 1vw);
}

.NavButton a:hover{
    color: #6f6282;
}
/* Burger menu css */
@media (max-width: 720px) {
   .Nav_Bar{
       display: none;
   }
   
 }

 @media (min-width: 720px){
    .BurgerMenu{
        display: none;
    }
 }

 .BurgerMenu {
    overflow: hidden;
    background-color:  #6f6282;
    position: relative;
  }
  
  .BurgerMenu #CollapsedLinks {
    display: none;
  }
  
  .BurgerMenu a {
    color: #ffc94a;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .BurgerMenu a.icon {
    background:    #6f6282;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .BurgerMenu a:hover {
    background-color:  whitesmoke;
    color:  #6f6282;
  }
  
  .Namespace {
    background-color: #6f6282;
  }

  #Footer{
    position: absolute;
    bottom: 0;
    width: 90%;
    text-align: center;
  }

  #LandingPageImage{
    
    height: 60vh;
    text-align: center;
    padding: 2%;
  }

  #LandingPageImage img{
    max-width: 100%;
    max-height: 100%;
    
  }

