@media only screen and (min-width: 280px) {
    .SVG-S{
        height: calc(50px + 20vw);
    } 

    .GraphBars{
        transform: translate(0, calc(50px + 20vw)) scale(1,-1);
    }

    .MaxY, .MinY, #IndexTitle{
        font-size: calc(5px + 1vw);
    }

    .Rec_Index_Text, .Rec_Index_Value, .Death_Index_Value{
        font-size: calc(3px + 1vw);
    }

    .ButtonHolder{
        height: calc(50px + 1vw);
    }

    .InteractionText{
        font-size: calc(8px + 1vw);
    }

    .BarD, .BarR{
        width: calc(8px + 2vw);
    }
}

@media only screen and (min-width: 400px) {
    .SVG-M{
        height: calc(100px + 20vw);
    }
  
    .GraphBars{
        transform: translate(0, calc(100px + 20vw)) scale(1,-1);
    }  
    .MaxY, .MinY, #IndexTitle{
        font-size: calc(5px + 1vw);
    }

    .Rec_Index_Text, .Rec_Index_Value .Death_Index_Value, .Death_Index_Value{
        font-size: calc(3px + 1vw);
    }

    .ButtonHolder{
        height: calc(50px + 1vw);
    }
    .InteractionText{
        font-size: calc(8px + 1vw);
    }

    .BarD, .BarR{
        width: calc(10px + 2vw);
    }
}

@media only screen and (min-width: 700px) {
    .SVG-B{
        height: calc(200px + 20vw);
    } 

    .GraphBars{
        transform: translate(0, calc(200px + 20vw)) scale(1,-1);
    }

    .MaxY, .MinY, #IndexTitle{
        font-size: calc(12px + 1vw);
    }

    .Rec_Index_Text, .Rec_Index_Value, .Death_Index_Value{
        font-size: calc(5px + 1vw);
    }

    .ButtonHolder{
        height: calc(100px + 1vw);
    }

    .InteractionText{
        font-size: calc(12px + 1vw);
    }

    .BarD, .BarR{
        width: calc(12px + 2vw);
    }
}





#QuoteContainer{
    border: solid 2px #ffc94a;
    background-color:#6f6282;
    font-size: calc(12px + 2vw);
    text-align: center;

    padding-top: calc(10px + 1vw);
    padding-bottom: calc(10px + 1vw);
    padding-left: 5px;
    padding-right: 5px;
}
