@media only screen and (min-width: 280px) {
    .Vis-Text-S {
       
        font-size: calc(7.5px + 1vw);
    }

    .SVG-s{
        height: calc(100px + 20vw);
    }

    #DisplayText{
        font-size: 0.6em;
        text-anchor: middle;
        
    }
    
}

@media only screen and (min-width: 400px) {
   .Vis-Text-M{
       
       font-size: calc(10px + 1vw); 
    }
    .SVG-M{
        height: calc(200px + 20vw);
    }

    #DisplayText{
        font-size: 0.5em;
        text-anchor: middle;
    }
   
  
}

@media only screen and (min-width: 700px) {
    .Vis-Text-B{
        
        font-size: calc(15px + 1vw);
    }

    .SVG-B{
        height: calc(300px + 20vw);
    }

    .Vis-Cir-B{
        fill: tomato;
    }

    #DisplayText{
        font-size: 0.4em;
        text-anchor: middle;
    }
}


#QuoteContainer{
    border: solid 2px #ffc94a;
    background-color:#6f6282;
    font-size: calc(12px + 2vw);
    text-align: center;

    padding-top: calc(10px + 1vw);
    padding-bottom: calc(10px + 1vw);
    padding-left: 5px;
    padding-right: 5px;
}

