@media only screen and (min-width: 280px) {
    .SVG-S{
        height: calc(50px + 20vw);
    } 

    .Graph{
        transform: translate(0, calc(50px + 20vw)) scale(1,-1);
    }
}

@media only screen and (min-width: 400px) {
    .SVG-M{
        height: calc(100px + 20vw);
    }
  
    .Graph{
        transform: translate(0, calc(100px + 20vw)) scale(1,-1);
    }  
  
}

@media only screen and (min-width: 700px) {
    .SVG-B{
        height: calc(200px + 20vw);
    } 

    .Graph{
        transform: translate(0, calc(200px + 20vw)) scale(1,-1);
    }
}


#QuoteContainer{
    border: solid 2px #ffc94a;
    background-color:#6f6282;
    font-size: calc(12px + 2vw);
    text-align: center;

    padding-top: calc(10px + 1vw);
    padding-bottom: calc(10px + 1vw);
    padding-left: 5px;
    padding-right: 5px;
}

#TextY{
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    transform: rotate(10deg);
}