.ColourSwatchGrid{
    width: 90%;
    background-color:black;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    padding: 10px;
    
    height: calc(100px + 2vw);
    
} 

.ColourSwatch1{
    background-color: #41394d;
    text-align: center;
    flex-grow: 1;
    
}

.ColourSwatch2{
    background-color: #6f6282;
    text-align: center;
    flex-grow: 1;
}
.ColourSwatch3{
    background-color: #FFC94A;
    text-align: center;
    flex-grow: 1;
}

.ColourSwatchGrid2{
    width: 90%;
    background-color:black;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 10px;
    padding: 10px;
    
    height: calc(100px + 2vw);
    
} 
.ColourSwatch4{
    background-color: #2d222a;
    text-align: center;
    flex-grow: 1;
    
}
.ColourSwatch5{
    background-color: #544130;
    text-align: center;
    flex-grow: 1;
    
}
.ColourSwatch6{
    background-color: #7c6136;
    text-align: center;
    flex-grow: 1;
    
}
.ColourSwatch7{
    background-color: #a3803c;
    text-align: center;
    flex-grow: 1;
    
}
.ColourSwatch8{
    background-color: #ffc94a;
    text-align: center;
    flex-grow: 1;
    
}